html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.page-title {
  text-align: center;
}

.table-wrapper, .row {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

input{
  display: block;
  width: 100%;
  max-width: 400px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
button{
    display: inline-block;
    margin-left: 1rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}
button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.table-wrapper table {
  border-collapse: collapse;
}

.table-wrapper thead th {
  user-select: none;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  cursor: pointer;
}

.table-wrapper thead th:first-child {
  border-left: 1px solid #dee2e6;
}

.table-wrapper td,
.table-wrapper th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
